.multiplex-content {
  background-color: #fff;
  position: fixed;
  display: flex;
  padding: 0.18rem;
  width: 5.04rem;
  height: 0.855rem;
  align-items: center;
  gap: 0.28rem;
}

.multiplex-tosearch {
  display: flex;
  flex: 1;
  align-items: center;
  //   width: 4.32rem;
  height: 0.67rem;
  background-color: #f6f6f6;
  border-radius: 1rem;
}

.zuojiantou {
  display: inline-block;
  font-size: 0.31rem;
  transform: rotate(180deg);
  &:before {
    content: '\e61d';
  }
}
